@import "../../style.scss";

.Main {
  margin: 25px 0 25px 0;
  padding-bottom: 55px;
}

.Main > * {
  margin: 15px 25px 0 25px;
}

.Alarm-icon-area {
  text-align: right;
  /* margin: 27px 25px 0 25px; */
}

.Alarm-icon-area img {
  max-width: 55px;
  width: 10%;
}

.Header-main {
  font-weight: 700;
  font-size: 15pt;
  /* margin-left: 25px; */
  /* margin-bottom: 25px;    */
}

.FontOrange {
  color: $orangeColor;
  font-size: 18pt;
  font-weight: 800;
}

.Body > div {
  /* margin-left: 25px; */
  font-size: 12pt;
  font-weight: 700;
  margin-bottom: 10px;
}

.Best-area > div,
.Location-area > div,
.Review-area > div {
  padding: 0 0 15px 0;
}

.Map > img {
  /* margin-right: 25px; */
  max-width: 500px;
}
.Map > img {
  width: 100%;
}
