@import "../../style.scss";

.Etc {
  margin: 25px;
  padding-bottom: 10vh;

  p {
    margin: 0;
  }

  > div {
    margin-top: 15px;
  }

  //
  // 환경설정 아이콘
  //
  .Setting {
    text-align: right;
    /* margin: 27px 25px 0 25px; */
    img {
      max-width: 55px;
      width: 10%;
    }
  }

  //
  // 헤더 폰트 설정
  //
  .Header-etc {
    p {
      font-size: $header-large-font-size;
      font-weight: $header-small-font-weight;
    }

    span.Header-nickname {
      font-weight: $header-large-font-weight;
      color: $orangeColor;
    }
  }

  //
  // 회원 활동 요약
  //
  .Activity-list {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;

    > div {
      width: 24vw;
      text-align: center;
      border-right: 1px solid $lightGrayColor;
    }

    > div:last-child {
      border: 0;
    }

    p:first-child {
      color: $grayColor;
      font-size: 8px;
    }

    p:last-child {
      font-weight: 700;
      font-size: 12pt;
    }

    p.Activity-LightOrange {
      color: $lightOrangeColor;
    }

    p.Activity-Orange {
      color: $orangeColor;
    }
  }

  //
  // 메뉴 목록
  //
  .Etc-List-area {
    margin-top: 25px;
    margin-bottom: 25px;

    > .Etc-List-Item {
      display: flex;
      align-items: center;
      min-height: 43px;
      border-bottom: 1px solid $lightGrayColor;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: $grayColor;
        font-size: 9px;
      }

      img {
        width: 25px;
        margin: 9px 15px 9px 0;
      }
    }

    > .Etc-List-Item:first-child {
      border-top: 1px solid $lightGrayColor;
    }
  }

  //
  // 원격 웨이팅 접수 방법 팝업 버튼
  //
  .How-To-Wait {
    background-color: $lightOrangeColor;
    border-radius: 20px;

    > * {
      display: inline-block;
      color: white;
      font-size: 15pt;
      font-weight: $header-large-font-weight;
    }
  }

  .questionMark {
    color: $lightOrangeColor;
    background-color: white;
    border-radius: 100%;
    width: 15%;
    height: 15%;
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    margin: 15px;
  }
}

//
// 나의 웨이팅/예약 내역
//
.Etc-MyWait-Body-Content {
  margin-top: 15px;
  
  .MyWait-Table-Etc {
    width: 100%;
    border-top: 1px solid $lightGrayColor;
    border-bottom: 1px solid $lightGrayColor;
  
    > div {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    .left {
      font-weight: $header-small-font-weight;
      color: $grayColor;
    }

    .right {
      font-weight: 500;
    }
  
    .MyWait-Table-row-first {
      padding-top: 15px;
    }
  
    .MyWait-Table-row-last {
      padding-bottom: 15px;
    }
  
    .More-Etc {
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      > p {
        width: 42vw;
        min-width: 100px;
        margin: 15px 0;
        padding: 3px 0 3px 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        text-align: center;
        display: inline-block;
      }

      .Btn-Cancel-Wait {
        color: white;
        background: $orangeColor;
      }

      .Btn-Cancel-Reserve {
        color: white;
        background: $lightOrangeColor;
      }
    }
  }
}

//
// 나의 리뷰 내역
//
.Etc-Review {
  margin: 25px;
  margin-top: 0;
  padding-bottom: 10vh;
  
  p {
    margin: 0;
  }
  
  .Store-Review-Item:first-child {
    border-top: 1px solid $lightGrayColor;
  }
  
  .Store-Review-Item {
    border-bottom: 1px solid $lightGrayColor;
    padding: 10px 0 15px 0;

    .Store-Review-Name {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > p {
        font-size: 12pt;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > img {
        height: 10px;
        transform: rotate(180deg);
      }
    }

    .Store-Review-Etc {
      margin-bottom: 5px;
    }

    .Store-Review-Image {
      margin-top: 10px;
    }

    .Store-Review-Image > img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0px 5px 3px #cecece;
    }
  }
}
