.Review-slide-area {
    padding: 5px;
    overflow-x: auto;
    white-space: nowrap; 
}

.Review-slide-area > * {
    display: inline-block;
}

.Review-Item {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #CECECE;
    margin-bottom: 15px;
    position: relative;
}

.Review-Item > div {
    /* display: inline-block; */
}

.Item-header {
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
}

.Item-header-star > * {
    display: inline;
    font-weight: 400; 
}

.star {
    width: 30%;
    margin-right: 5px;
}

.Item-body {
    width: 140px;
    white-space: normal;
}
.Item-area { 
    margin: 5px 0 5px 0;
    font-size: 9pt; 
    font-weight: 400; 
    color: gray;
}
.Item-content {
    font-size: 9pt; 
    font-weight: 400;
}
.Item-nickname {
    bottom: 5px;
    right: 5px;
    position: absolute;
    font-size: 9pt; 
    font-weight: 400; 
    text-align: right;
    color: gray;
}