@import "../../style.scss";

.List-area {
  margin-left: 15px;
}

.ListItem-area {
  margin-right: 15px;
  display: inline-block;
}

.keyword {
  margin: 5px 5px 5px 0;
  padding: 3px;
  min-width: 40px;
  min-height: 15px;
  border-radius: 5px;
  background-color: $lightOrangeColor;
  font-size: 9pt;
  font-weight: 600;
  color: white;
  display: inline-block;
}

.ListItem-image-area {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px 2px #cecece;
}

.ListItem-image-area-100 {
  @extend .ListItem-image-area;
  max-width: 150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
  width: 20vw;
  height: 20vw;
}

.ListItem-image-area-112 {
  @extend .ListItem-image-area;
  max-width: 200px;
  min-width: 112px;
  width: 40vw;
  height: 100px;
}

.ListItem-image-1x1 {
  display: inline-block; /* Otherwise it keeps some space around baseline */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.ListItem-name {
  font-weight: 700;
  font-size: 12pt;
}

.ListItem-foot {
  font-weight: 400;
  font-size: 9pt;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.ListItem-star > * {
  display: inline;
  font-weight: 400;
}

.star {
  width: 30%;
  margin-right: 5px;
}

.Slide-area {
  overflow-x: auto;
  white-space: nowrap;
}

.Slide-area > * {
  display: inline-block;
  margin: 5px;
}
