.Menu {
    min-height: 55px;
    height: 10%;
    bottom: 0px;
    position: fixed;
    display: flex;
    background-color: white;
    box-shadow: 0 -1px 10px 3px #CECECE;
}

.Menu > div {
    display: inline-block;
    margin: auto;
    padding: 5px;
    width: 20%; 
    text-align: center;
}

.Menu-icon {
    padding: 5%;
    width: 70%;
}