//
//colors
//
$orangeColor: #FB974B;
$lightOrangeColor: #FBC678;
$grayColor: #8C8C8C;
$lightGrayColor: #E5E5E5;

//
//fonts
//
$header-large-font-weight: 700;
$header-large-font-size: 15pt;
$header-small-font-weight: 400;
$header-small-font-size: 9pt;
